

	<div id="box_panel">

  <div class="main_top_box">
  <div class="main_left_box">
  <div class="main_right_box">

  <div class="main_details">
    <% image_tag "arrow.png", {:style => "float:left"} %>
    <% image_tag "img1.gif", {:style => "float:right", :margin => "0px 20px 0px 20px"} %>
    <h1>try something new</h1>
  <h4></h4>
  <p>
     <%= form_for(:find_activity_model) do |f| %>
        I want to try something that has a <%= select( "schedule", "id", { "Flexable" => "1", "Set" => "2"}) %> schedule
        which <%= select( "isOutdoors", "id", { "Is" => "1", "Is Not" => "2"}) %> outdoors, but also has a
        <%= select( "physical", "id", { "Low" => "1", "High" => "2"}) %> physical and <%= select( "mental", "id", { "Low" => "1", "High" => "2"}) %>
        mental activity level. It should be something that I can do <%= select( "social", "id", { "Do by myself" => "1", "Do with others" => "2"}) %>
        and that will cost me less then <%= select( "cost", "id", { "50 dollars" => "1", "100 dollars" => "2"}) %>.
        <div style="float:right; padding-right: 15px;">
          <br/>
          <br/>
          <br/>
          <%= button_to("find me something new") %>
        </div>
    <% end %>
  </p>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
    <div class="clear"></div>
  </div>

  </div>

  </div>

  </div>
  </div>
 